<div class="container-fluid">
  <div class="section-header">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
        <h1 class="tangibles-current-section">
          <a ui-sref="design({area: tangible.content.area})" data-area="{{tangible.content.area}}" class="btn btn-info larea">
            {{tangible.content.area}} &rsaquo; 
          </a>
          <a ui-sref="design({area: tangible.content.area, axis: tangible.content.axis})"
             data-area="{{tangible.content.area}}" class="btn btn-info laxis">
            {{tangible.content.axis}}
          </a>
          <a ui-sref="tangibles.design({
                    area: tangible.content.area,
                    axis: tangible.content.axis, 
                    block: tangible.content.block})"
              data-area="{{tangible.content.area}}" class="btn btn-info lblock">
          &rsaquo; {{tangible.content.block}}</a></h1>
      </div>
    </div>
  </div>
</div>

<div class="container tangible-content">
  <div class="tangible-header">
    <h3>{{tangible.content.title}}</h3>
  </div>

  <div class="row">
    <div class="col-sm-6 text-center">
      <img class="img-responsive" 
           ng-src="/epm/asset/local/{{tangible.uid}}/cover/content"
           alt="{{tangible.title}}"/>
    </div>
    <div class="col-sm-6 tangible-body">
      <h4>Ficha Técnica</h4>
      <p> {{tangible.content.content}} </p>
      <a class="btn btn-default btn-tangible" style="width: 100%;" 
         href="/epm/content/local/{{tangible.uid}}" target="_blank"></i> Acceder al Contenido</a>
    </div>
    <div class="col-sm-12">
      <hr>
      <ul class="tangible-tags">
        <li class="cloud text-center">
          <i class="fa fa-tags"></i>
        </li>
        <li ng-repeat="tag in tangible.content.tags.split(',')">
          <a ui-sref="tangibles.tag({tag: tag})">{{tag}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid" >
  <div class="row" id="header-relations">
    <div class="col-sm-12 text-center">
      <p><a class="btn btn-default relacionado-first"
            ng-click="relFirst()">Mostrar contenido relacionado</a></p>
    </div>
  </div>
  <div ng-show="tangibles.length>0">
    <div class="row">
      <hr>
      <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
        <h3>Paquete relacionados</h3>
      </div>
    </div>
    <div class="tangibles-wrapper" >
      <div infinite-scroll='loadMore()' infinite-scroll-distance='1' class="tangibles-columns">
        <div ng-repeat="tangible in tangibles" >
          <a ui-sref="tangibles.ver({uid: tangible.uid})"
             title="{{tangible.content.title}}">
            <div class="pin" data-area="{{tangible.content.area}}">
              <img class="img-responsive" 
                   images-loaded-events="imgLoadedEvents"
                   ng-src="/epm/asset/local/{{tangible.uid}}/cover/front"
                   alt="{{tangible.content.title}}">
              <p class="pin-caption">{{tangible.content.title}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>