<div class="container-fluid">
  <div class="section-header">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
        <h1 class="tangibles-current-section">
          <a title="Volver" 
            href="javascript:window.history.back()" 
            class="go-back"><i class="fa fa-chevron-circle-left"></i>
          </a>
          <a ui-sref="design({area: tangible.content.area})" 
             data-area="{{tangible.sarea}}"
             class="btn btn-info larea">
            <i class="fa fa-caret-left"></i> {{tangible.content.area}}
          </a>
          <a ui-sref="design({area: tangible.content.area, eje: tangible.content.axis})"
             data-area="{{tangible.sarea}}" class="btn btn-info laxis">
            <i class="fa fa-caret-left"></i> {{tangible.content.axis}}
          </a>
          <a ui-sref="tangibles.design({
                    area: tangible.content.area,
                    axis: tangible.content.axis, 
                    block: tangible.content.block})"
              data-area="{{tangible.sarea}}" class="btn btn-info lblock">
          <i class="fa fa-caret-left"></i> {{tangible.content.block}}</a></h1>
      </div>
    </div>
  </div>
</div>

<div class="container tangible-content">
  <div class="tangible-header">
    <h3>{{tangible.content.title}}</h3>
  </div>

  <div class="row">
    <div class="col-sm-6 text-center">
      <img class="text-center" style="max-width: 100%" 
           ng-src="/epm/asset/local/{{tangible.uid}}/cover/content"
           alt="{{tangible.title}}"/>
    </div>
    <div class="col-sm-6 tangible-body">
      <h3><i class="fa fa-info-circle"></i> Ficha Técnica</h3>
      <blockquote class="datasheet">
        <p ng-bind-html="tangible.content.content"></p>  
        <footer><i class="fa fa-certificate"></i> {{tangible.content.contentAuthor}} <cite id="source" title="Fuente">{{tangible.content.source}}</cite></footer>
      </blockquote>
      <div class="alert alert-info" role="alert" ng-show="accedio">
        <p><i class="fa fa-info"></i> Se abrirá una nueva pestaña, si su navegador no soporta el contenido el mismo será descargado a su equipo.</p>
        <p ng-show="tangible.hasDescription"><i class="fa fa-warning"></i> {{tangible.content.description}}</p>
        <hr>
        <a class="btn btn-primary" style="width: 100%;" 
         href="/epm/content/local/{{tangible.uid}}" target="_blank">Aceptar</a>
      </div>
      <a class="btn btn-default btn-tangible" style="width: 100%;"
         ng-hide="accedio" ng-click="accedio=true"
         href="javascript:void(0)">Acceder al Contenido</a>
    </div>
    <div class="col-sm-12">
      <hr>
      <ul class="tangible-tags">
        <li class="cloud text-center">
          <i class="fa fa-tag"></i>
        </li>
        <li ng-repeat="tag in tangible.content.tags.split(',')">
          <a ui-sref="tangibles.tag({tag: tag})">{{tag}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid" >
  <div class="row" id="header-relations">
    <div class="col-sm-12 text-center">
      <p><a class="btn btn-default relacionado-first"
            ng-click="relFirst()"><i class="fa fa-tags"></i> Mostrar contenido relacionado</a></p>
    </div>
  </div>
  <div ng-show="showRel">
    <div class="row">
      <hr>
      <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
        <h3 class="relacionados text-center"><i class="fa fa-tags"></i> Paquete relacionados</h3>
        <hr>
        <ng-include src="'app/templates/area-legend.html'"></ng-include>
      </div>
    </div>
    <div class="tangibles-wrapper">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <div class="alert alert-info" role="alert" ng-show="noResults">
            <p class="text-center"><i class="fa fa-warning"></i> No hay resultados para mostrar</p>
          </div>
        </div>
      </div>
      <div tangibles-scroller="query" tangibles-take="take"></div>
    </div>
  </div>
</div>