.bg-ing {
  background-color: @ing-color;
}

.bg-cec {
  background-color: @cec-color;
}

.bg-eoe {
  background-color: @eoe-color;
}

.bg-edart {
  background-color: @edart-color;
}

.bg-edard {
  background-color: @edard-color;
}

.bg-edarm {
  background-color: @edarm-color;
}

.bg-edarp {
  background-color: @edarp-color;
}

.bg-pdl {
  background-color: @pdl-color;
}

.bg-mat {
  background-color: @mat-color;
}

.bg-cs {
  background-color: @cs-color;
}

.bg-ef {
  background-color: @ef-color;
}

.bg-cn {
  background-color: @cn-color;
}

