/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: 'concert_oneregular';
  src: url('../fonts/concertone-regular-webfont.eot');
  src: url('../fonts/concertone-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/concertone-regular-webfont.woff') format('woff'), url('../fonts/concertone-regular-webfont.ttf') format('truetype'), url('../fonts/concertone-regular-webfont.svg#concert_oneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Patua One';
  src: url('../fonts/PatuaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Comfortaa Bold';
  src: url('../fonts/Comfortaa-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Comfortaa Light';
  src: url('../fonts/Comfortaa-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Comfortaa Regular';
  src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  background-color: #eeebd5;
  color: white;
}
.bg-ing {
  background-color: #41235f;
}
.bg-cec {
  background-color: #c51d64;
}
.bg-eoe {
  background-color: #007f8e;
}
.bg-edart {
  background-color: #81388a;
}
.bg-edard {
  background-color: #ed1c24;
}
.bg-edarm {
  background-color: #ebbf1c;
}
.bg-edarp {
  background-color: #6bb144;
}
.bg-pdl {
  background-color: #004c33;
}
.bg-mat {
  background-color: #21418a;
}
.bg-cs {
  background-color: #761113;
}
.bg-ef {
  background-color: #00adef;
}
.bg-cn {
  background-color: #9ba23d;
}
.area-ing {
  background-color: #41235f;
}
.area-cec {
  background-color: #c51d64;
}
.area-eoe {
  background-color: #007f8e;
}
.area-edart {
  background-color: #81388a;
}
.area-edard {
  background-color: #ed1c24;
}
.area-edarm {
  background-color: #ebbf1c;
}
.area-edarp {
  background-color: #6bb144;
}
.area-pdl {
  background-color: #004c33;
}
.area-mat {
  background-color: #21418a;
}
.area-cs {
  background-color: #761113;
}
.area-ef {
  background-color: #00adef;
}
.area-cn {
  background-color: #9ba23d;
}
html.area-ing body {
  background-color: #41235f;
}
html.area-cec body {
  background-color: #c51d64;
}
html.area-eoe body {
  background-color: #007f8e;
}
html.area-edart body {
  background-color: #81388a;
}
html.area-edard body {
  background-color: #ed1c24;
}
html.area-edarm body {
  background-color: #ebbf1c;
}
html.area-edarp body {
  background-color: #6bb144;
}
html.area-pdl body {
  background-color: #004c33;
}
html.area-mat body {
  background-color: #21418a;
}
html.area-cs body {
  background-color: #761113;
}
html.area-ef body {
  background-color: #00adef;
}
html.area-cn body {
  background-color: #9ba23d;
}
.area-cartoon {
  background-position: 0px -340px;
  background: url(../img/assets.png);
  bottom: 45px;
  height: 226px;
  position: absolute;
  right: 20px;
  visibility: hidden;
  width: 216px;
}
.area-cartoon.active {
  visibility: visible;
}
html[data-area="ing"] .area-cartoon {
  background-position: 0px -340px;
}
html[data-area="cec"] .area-cartoon {
  background-position: -216px -340px;
}
html[data-area="eoe"] .area-cartoon {
  background-position: -432px -340px;
}
html[data-area="edart"] .area-cartoon {
  background-position: -648px -340px;
}
html[data-area="edard"] .area-cartoon {
  background-position: -864px -340px;
}
html[data-area="edarm"] .area-cartoon {
  background-position: -1080px -340px;
}
html[data-area="edarp"] .area-cartoon {
  background-position: -1296px -340px;
}
html[data-area="pdl"] .area-cartoon {
  background-position: -1512px -340px;
}
html[data-area="mat"] .area-cartoon {
  background-position: -1728px -340px;
}
html[data-area="cs"] .area-cartoon {
  background-position: -1944px -340px;
}
html[data-area="ef"] .area-cartoon {
  background-position: -2160px -340px;
}
html[data-area="cn"] .area-cartoon {
  background-position: -2376px -340px;
}
html.active {
  visibility: visible;
}
ul.ejes {
  list-style: none;
}
ul.ejes li {
  display: inline-block;
}
.section-header {
  font-family: 'Patua One';
}
html,
body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -45px;
  position: relative;
}
.page-wrap::after {
  content: "";
  display: block;
}
.dte-footer,
.page-wrap:after {
  height: 45px;
}
.dte-footer {
  background: #232425;
  position: relative;
}
.dte-footer .logo-dte {
  float: left;
  height: 45px;
  width: 225px;
  background: url('../img/logo-dte.png') center center no-repeat;
  margin-left: 5%;
}
.dte-footer .logo-ba {
  float: right;
  height: 45px;
  width: 151px;
  background: url('../img/logo-ba.png') center center no-repeat;
  margin-right: 5%;
}
#main-menu {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  top: calc(50% - 22.5px - 150px);
  left: calc(50% - 150px);
  cursor: pointer;
}
#main-menu .border-roulette {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 50px;
  left: 50px;
  border-radius: 50%;
  background: url('../img/circle_color_home.png') center center no-repeat;
}
#main-menu .center-roulette {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 50px;
  left: 50px;
  border-radius: 50%;
  background: url('../img/logo_pad_home.png') center center no-repeat;
}
#main-menu .center-roulette-area {
  position: absolute;
  width: 176px;
  height: 176px;
  top: 62px;
  left: 62px;
  border-radius: 50%;
  background: url(../img/assets.png);
  visibility: hidden;
}
#main-menu .center-roulette-area[data-area="ing"] {
  background-position: 0px -160px;
}
#main-menu .center-roulette-area[data-area="cec"] {
  background-position: -180px -160px;
}
#main-menu .center-roulette-area[data-area="eoe"] {
  background-position: -360px -160px;
}
#main-menu .center-roulette-area[data-area="edart"] {
  background-position: -540px -160px;
}
#main-menu .center-roulette-area[data-area="edard"] {
  background-position: -720px -160px;
}
#main-menu .center-roulette-area[data-area="edarm"] {
  background-position: -900px -160px;
}
#main-menu .center-roulette-area[data-area="edarp"] {
  background-position: -1080px -160px;
}
#main-menu .center-roulette-area[data-area="pdl"] {
  background-position: -1260px -160px;
}
#main-menu .center-roulette-area[data-area="mat"] {
  background-position: -1440px -160px;
}
#main-menu .center-roulette-area[data-area="cs"] {
  background-position: -1620px -160px;
}
#main-menu .center-roulette-area[data-area="ef"] {
  background-position: -1800px -160px;
}
#main-menu .center-roulette-area[data-area="cn"] {
  background-position: -1980px -160px;
}
#main-menu .center-roulette-area.active {
  visibility: visible;
}
#main-menu ul.roulette {
  list-style: none;
  position: relative;
  float: left;
  height: 300px;
  width: 300px;
}
#main-menu ul.roulette li {
  border-radius: 50%;
  border: 0px;
  height: 62px;
  margin-left: -31px;
  margin-top: -31px;
  position: absolute;
  width: 62px;
  top: 150px;
  left: 150px;
}
#main-menu ul.roulette li .item-area {
  height: 56px;
  width: 56px;
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 50%;
  background-color: white;
  background-image: url(../img/assets.png);
}
#main-menu ul.roulette li:hover,
#main-menu ul.roulette li:focus {
  height: 94px;
  margin-left: -47px;
  margin-top: -47px;
  width: 94px;
}
#main-menu ul.roulette li:hover .item-area,
#main-menu ul.roulette li:focus .item-area {
  height: 88px;
  width: 88px;
  margin-top: 3px;
  margin-left: 3px;
}
#main-menu ul.roulette li:hover .item-area[data-area="cec"],
#main-menu ul.roulette li:focus .item-area[data-area="cec"] {
  background-position: -100px -60px;
}
#main-menu ul.roulette li:hover .item-area[data-area="eoe"],
#main-menu ul.roulette li:focus .item-area[data-area="eoe"] {
  background-position: -200px -60px;
}
#main-menu ul.roulette li:hover .item-area[data-area="edart"],
#main-menu ul.roulette li:focus .item-area[data-area="edart"] {
  background-position: -300px -60px;
}
#main-menu ul.roulette li:hover .item-area[data-area="edard"],
#main-menu ul.roulette li:focus .item-area[data-area="edard"] {
  background-position: -400px -60px;
}
#main-menu ul.roulette li:hover .item-area[data-area="edarm"],
#main-menu ul.roulette li:focus .item-area[data-area="edarm"] {
  background-position: -500px -60px;
}
#main-menu ul.roulette li:hover .item-area[data-area="edarp"],
#main-menu ul.roulette li:focus .item-area[data-area="edarp"] {
  background-position: -600px -60px;
}
#main-menu ul.roulette li:hover .item-area[data-area="pdl"],
#main-menu ul.roulette li:focus .item-area[data-area="pdl"] {
  background-position: -700px -60px;
}
#main-menu ul.roulette li:hover .item-area[data-area="mat"],
#main-menu ul.roulette li:focus .item-area[data-area="mat"] {
  background-position: -800px -60px;
}
#main-menu ul.roulette li:hover .item-area[data-area="cs"],
#main-menu ul.roulette li:focus .item-area[data-area="cs"] {
  background-position: -900px -60px;
}
#main-menu ul.roulette li:hover .item-area[data-area="ef"],
#main-menu ul.roulette li:focus .item-area[data-area="ef"] {
  background-position: -1000px -60px;
}
#main-menu ul.roulette li:hover .item-area[data-area="cn"],
#main-menu ul.roulette li:focus .item-area[data-area="cn"] {
  background-position: -1100px -60px;
}
#main-menu ul.roulette li:hover .item-area[data-area="ing"],
#main-menu ul.roulette li:focus .item-area[data-area="ing"] {
  background-position: 0px -60px;
}
.item-area[data-area="cec"] {
  background-position: -60px 0px;
}
.item-area[data-area="eoe"] {
  background-position: -120px 0px;
}
.item-area[data-area="edart"] {
  background-position: -180px 0px;
}
.item-area[data-area="edard"] {
  background-position: -240px 0px;
}
.item-area[data-area="edarm"] {
  background-position: -300px 0px;
}
.item-area[data-area="edarp"] {
  background-position: -360px 0px;
}
.item-area[data-area="pdl"] {
  background-position: -420px 0px;
}
.item-area[data-area="mat"] {
  background-position: -480px 0px;
}
.item-area[data-area="cs"] {
  background-position: -540px 0px;
}
.item-area[data-area="ef"] {
  background-position: -600px 0px;
}
.item-area[data-area="cn"] {
  background-position: -660px 0px;
}
.item-area[data-area="ing"] {
  background-position: 0px 0px;
}
#main-menu.inactive .border-roulette {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 10s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 10s;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 20s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
#aside-menu {
  cursor: pointer;
  height: 100px;
  left: -7px;
  margin-top: -72.5px;
  position: fixed;
  top: 50%;
  width: 50px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#aside-menu:hover,
#aside-menu:focus,
#aside-menu.active {
  left: 0px;
}
#aside-menu.active ul li[data-target="bienvenida"] {
  top: -45px;
  left: 54px;
}
#aside-menu.active ul li[data-target="cloud"] {
  top: -5px;
  left: 109px;
}
#aside-menu.active ul li[data-target="orientaciones"] {
  top: 60px;
  left: 130px;
}
#aside-menu.active ul li[data-target="transversales"] {
  top: 125px;
  left: 109px;
}
#aside-menu.active ul li[data-target="contacto"] {
  top: 165px;
  left: 54px;
}
#aside-menu ul {
  list-style: none;
  position: relative;
}
#aside-menu ul li {
  margin: none;
  background: url(../img/assets.png);
  width: 64px;
  height: 60px;
  margin-top: -32px;
  margin-left: -30px;
  background-position: 0px -566px;
  position: absolute;
  top: 70px;
  left: -20px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#aside-menu ul li a {
  border-radius: 50%;
  position: absolute;
}
#aside-menu ul li a .expand {
  width: 64px;
  height: 60px;
}
#aside-menu ul li[data-target="bienvenida"] {
  background-position: 0px -566px;
}
#aside-menu ul li[data-target="cloud"] {
  background-position: -66px -566px;
}
#aside-menu ul li[data-target="orientaciones"] {
  background-position: -132px -566px;
}
#aside-menu ul li[data-target="transversales"] {
  background-position: -198px -566px;
}
#aside-menu ul li[data-target="contacto"] {
  background-position: -264px -566px;
}
.center-aside-menu {
  width: 50px;
  height: 100px;
  background: url(../img/assets.png) no-repeat;
  background-position: 0px -632px;
  position: absolute;
}
