{{#contentFor 'pageStyles'}}
<link rel="stylesheet" href="/stylesheets/pad_ba.css" />
<link rel="stylesheet" href="/stylesheets/dock-left.css" />
<link rel="stylesheet" href="/stylesheets/vendor/boots_gal/bootstrap-image-gallery.css" />
<link rel="stylesheet" href="/stylesheets/vendor/boots_gal/blueimp-gallery.min.css">
{{/contentFor}}

{{#contentFor 'pageScripts'}}
<script src="javascripts/blocks.js"></script>
<script src='javascripts/jquery.jqdock.min.js'></script>
<script src='javascripts/clicks.js'></script>
<script src='javascripts/jqdoc.anim.js'></script>
<script type='text/javascript' src='javascripts/vendor/boots_gal/jquery.blueimp-gallery.min.js'></script>
<script type='text/javascript' src='javascripts/vendor/boots_gal/bienvenida.js'></script>




<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> 
{{/contentFor}}

  <div id='page'>
    <div id='menu'>
      <img src='images/dock_left/inicio.png' title='Inicio' alt='' />
      <img src='images/dock_left/bienvenida.png'  id="image-gallery-button" title='Bienvenida' alt='' />
      <img src='images/dock_left/nubesemantica.png' title='Nube' alt='' />
      <img src='images/dock_left/orientaciones.png' title='Orientaciones' alt='' />
      <img src='images/dock_left/temastransversales.png' title='Transversales' alt='' />
      <img src='images/dock_left/contacto.png' title='Contacto' alt='' />      
    </div>
  </div> 

<div class="container">
    
  <h1>Marco general del Programa</h1>

  <div class="text-center">
    <a href="/files/PAD con nomina y bibliografia.pdf"><img src="/images/padnet-ba.png" alt="Marco general del Programa"></a>
  </div>
  
  <h2>Encuadres</h2>
  <ul class="encuadres">
    {{#each encuadres}}
      <li><a href="{{href}}"><img src="{{img}}" alt="{{alt}}"></a></li>
    {{/each}}
  </ul>
</div>

  <div id="links" style="display: none">
      <a href="../images/bienvenida/1.jpg" data-gallery>
          <img src="../images/bienvenida/1.jpg">
      </a>
      <a href="../images/bienvenida/2.jpg" data-gallery>
          <img src="../images/bienvenida/2.jpg">
      </a>
      <a href="../images/bienvenida/3.jpg" data-gallery>
          <img src="../images/bienvenida/3.jpg">
      </a>
      <a href="../images/bienvenida/4.jpg" data-gallery>
          <img src="../images/bienvenida/4.jpg">
      </a>
      <a href="../images/bienvenida/5.jpg" data-gallery>
          <img src="../images/bienvenida/5.jpg">
      </a>
      <a href="../images/bienvenida/6.jpg" data-gallery>
          <img src="../images/bienvenida/6.jpg">
      </a>
      <a href="../images/bienvenida/7.jpg" data-gallery>
          <img src="../images/bienvenida/7.jpg">
      </a>
  </div>
