{{#contentFor 'pageStyles'}}
<link rel="stylesheet" href="/stylesheets/pad.css" />
{{/contentFor}}

{{#contentFor 'pageScripts'}}
<!--<script src="/javascripts/vendor/jquery/jquery.tagcloud.js"></script> 
<script src="/javascripts/vendor/d3/d3.js"></script>
<script src="/javascripts/vendor/d3/d3.layout.cloud.js"></script>
<script src="/javascripts/vendor/d3/d3.cloud.simplified.js"></script>-->
<script src="/javascripts/vendor/jquery/jquery.tagcanvas.js"></script>
<script src="/javascripts/cloud.js"></script>
{{/contentFor}}


<div class="container">
  <div id="cloudContainer">
    <canvas width="300" height="600" id="cloudCanvas">
      <div class="text-center loader">
        <div class="logo"></div>
        <span>Cargando ...</span>
      </div>
    </canvas>
  </div>

  <div id="cloud-pusher" style="height: 205px">
  </div>
</div>

<ul id="wordList" style="display: none">
{{#each words}}
  <li><a href="/tangibles/{{word}}" rel="{{weight}}">{{word}}</a></li>
{{/each}}
</ul>

<a id="back-home" href="/"></a>