{{#contentFor 'pageStyles'}}
<link rel="stylesheet" href="/stylesheets/panel.css" />
{{/contentFor}}

{{#contentFor 'pageScripts'}}
<script src="/javascripts/panel.js"></script>
{{/contentFor}}

<div class="container">
  <section id="panel-main">
    <div class="page-header">
      <h2>Tangibles</h2>
    </div>
    <div>
      <strong>Filtro por: Titulo, Area, Eje o bloque</strong>
      <input id="txtFilter" type="text" class="form-control" placeholder="Ingrese un texto .. "
          data-bind="value: filtro, valueUpdate: 'afterkeydown'" data-filter="{{filter}}"
          autofocus>
    </div>
    <div>
        <small data-bind="text: 'mostrando ' + showCounter() + ' de ' + totalCounter()"></small>
    </div>

    <hr>
    <div  data-bind="visible: isLoading()">
      <i class="icon-spinner icon-2x icon-spin"></i>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Area</th>
          <th>Eje</th>
          <th>Bloque</th>
          <th></th>
        </tr>
      </thead>
      <tbody data-bind="foreach: packages">
        <tr data-bind="with: content" data-bind="attr: { status: statusClass() }">
          <td><a data-bind="text: title, attr: { href: '/panel/package/' + $parent.uid , alt: $parent.uid }"></a></td>
          <td data-bind="text: area"></td>
          <td data-bind="text: axis"></td>
          <td data-bind="text: block"></td>
          <td><i data-bind="css: $parent.statusClass"></i></td>
        </tr>
      </tbody>
    </table>
    <div class="pager-container hidden-print">
        <ul class="pagination pagination-sm">
            <li><a href="#">&laquo;</a></li>
        
            <!-- ko foreach: pager.buttons -->
            <li data-bind="css: { active: active }, click: onClick ">
                <a href="#" data-bind="text: number"></a>
            </li>
            <!-- /ko -->

            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
  </div>
</section>