<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Test Units</title>
  <link rel="stylesheet" href="/stylesheets/vendor/qunit/qunit.css">
</head>
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
  <script src="/javascripts/vendor/jquery/jquery.js"></script>
  <script src="/javascripts/vendor/qunit/qunit.js"></script>
  <script src="/javascripts/test/tests.js"></script>
</body>
</html>