#html {overflow-x:hidden; overflow-y:auto;} /*remove horizontal scroll bar in IE6!*/
#html, body {width:100%; height:100%; margin:0; padding:0; border:0 none;}
#body {padding:0; margin:0; border:0 none; font-family:arial; font-size:12px; color:#333333; background-color:#ffffff;}
#a, a:link, a:visited, a:hover, a:active {color:#0000ff; text-decoration:none; outline:0 none;}
img {vertical-align:bottom; border:0 none;}
#div, pre {margin:0; padding:0;}
pre {font-size:11px; color:#0000cc; border:1px solid #cccccc; width:100%; overflow-x:auto; overflow-y:hidden; padding-bottom:17px;}
pre span {color:#808080;}
div.codex {padding:4px 8px 10px 8px;display:none;}
div.excowrap {padding-top:3px;}
a.exco, a.exco:link, a.exco:visited, a.exco:hover, a.exco:active {display:block; background:#e8e8ff url(arrows.gif) no-repeat 99% 0; color:#333333; padding:1px 8px;}
a.exco:hover {background-color:#ccccff; background-position: 99% -20px;}
a.descFile {padding-right:10px;}
a.targetBlank {background:transparent url(target_blank.gif) no-repeat 100% 0;}
#description {background-color:#ffffff; width:620px; margin:0 auto; padding:5px 0;}
#descInner {margin:0 15px 0 10px;}
#descHead {text-align:right;}
#descHead span {float:left;font-size:10px;}
#descFoot {text-align:center; font-size:11px; padding-top:3px;}
#description a.descFile:hover {text-decoration:underline;}


/*position and hide the menu initially - leave room for the menu to expand...*/
#description {margin-left:150px; width:510px;}
#page {padding:20px 0; width:100%;}
#menu {position:absolute; top:20px; left:31px; display:none;}
/*dock styling...*/
/*...set the cursor...*/
#menu div.jqDock {cursor:pointer;z-index: 1}
/*label styling...*/
div.jqDockLabel {padding-bottom:8px; font-weight:bold; white-space:nowrap; color:#000000; cursor:pointer; padding:0 1px;}

