
<div infinite-scroll='loadMore()' infinite-scroll-distance='1' infinite-scroll-disabled='busy' class="tangibles-columns">
  <div ng-repeat="tangible in tangibles" >
    <a ui-sref="tangibles.ver({uid: tangible.uid})" title="{{tangible.content.title}}">
      <div class="pin" data-area="{{tangible.sarea}}">
        <div class="text-right like-zone">
          <i ng-show="tangible.like" class="fa fa-thumb-tack"></i>
          <i ng-hide="tangible.like" class="fa fa-thumb-tack unlike"></i>
        </div>
        <div class="pin-preload">
          <div class="i-wrapper"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
        </div>
        <img class="img-responsive" pin-preload
             ng-src="/epm/asset/local/{{tangible.uid}}/cover/front"
             alt="{{tangible.content.title}}">
        <p class="pin-caption">{{tangible.content.title}}</p>
      </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="alert alert-warning" role="alert" ng-show="noResults">
      <p class="text-center"><i class="fa fa-warning"></i> No hay resultados para mostrar</p>
    </div>
  </div>
</div>