
{{#contentFor 'pageScripts'}}
<script src="/vendor/js/arbor/arbor.js"></script>
<script src="/vendor/js/arbor/arbor-tween.js"></script>
<script src="/pad/js/arbor.js"></script>
{{/contentFor}}

<div id="arborNodes">
  <div id="arborContainer">
    <canvas width="300" height="600" id="arborCanvas">
      <div class="text-center loader">
        <span>Cargando ...</span>
      </div>
    </canvas>
  </div>

  <div id="arbor-pusher" style="height: 205px">
  </div>
</div>