{{#contentFor 'pageStyles'}}
{{/contentFor}}

{{#contentFor 'pageScripts'}}
<script src="/pad/js/menu.roulette.js"></script>
<script src="/pad/js/home.js"></script>
{{/contentFor}}

<div id="main-menu" class="inactive">
  <ul class="roulette">
    <li class="bg-cec">
      <a href="/ejes/Centros Educativos Complementarios">
        <div data-area="cec" class="item-area"></div>
      </a>
    </li>
    <li class="bg-eoe">
      <a href="/ejes/Equipos de Orientación Escolar">
        <div data-area="eoe" class="item-area"></div>
      </a>
    </li>
    <li class="bg-edart">
      <a href="/ejes/Educación Artística - Teatro">
        <div data-area="edart" class="item-area"></div>
      </a>
    </li>
    <li class="bg-edard">
      <a href="/ejes/Educación Artística - Danza">
        <div data-area="edard" class="item-area"></div>
      </a>
    </li>
    <li class="bg-edarm">
      <a href="/ejes/Educación Artística - Música">
        <div data-area="edarm" class="item-area"></div>
      </a>
    </li>
    <li class="bg-edarp">
      <a href="/ejes/Educación Artística - Plástica">
        <div data-area="edarp" class="item-area"></div>
      </a>
    </li>
    <li class="bg-pdl">
      <a href="/ejes/Prácticas del Lenguaje">
        <div data-area="pdl" class="item-area"></div>
      </a>
    </li>
    <li class="bg-mat">
      <a href="/ejes/Matemática">
        <div data-area="mat" class="item-area"></div>
      </a>
    </li>
    <li class="bg-cs">
      <a href="/ejes/Ciencias Sociales">
        <div data-area="cs" class="item-area"></div>
      </a>
    </li>
    <li class="bg-ef">
      <a href="/ejes/Educación Física">
        <div data-area="ef" class="item-area"></div>
      </a>
    </li>
    <li class="bg-cn">
      <a href="/ejes/Ciencias Naturales">
        <div data-area="cn" class="item-area"></div>
      </a>
    </li>
    <li class="bg-ing">
      <a href="/ejes/Inglés">
        <div data-area="ing" class="item-area"></div>
      </a>
    </li>
  </ul>
  <div class="center-roulette"></div>
  <div class="center-roulette-area"></div>
  <div class="border-roulette"></div>
</div>