<div class="container">
  
  <div class="row welcome-wrap">
    <div class="col-sm-11 col-sm-offset-1">

      <div class="row">
        
        <div class="aboutus">
          <h4>Materiales de trabajo para la integración de las TIC en las escuelas primarias</h4>

          <p>Esta serie de materiales breves de trabajo para la integración de las TIC en las escuelas primarias bonaerenses invita a todos los docentes a pensar los cambios y permanencias, los desafíos y oportunidades que nos ofrece la política de la integración de TIC en las escuelas y en las aulas y en cómo es posible, a partir de ellas, potenciar las propuestas de enseñanza, mejorar las condiciones de trabajo y enriquecer los aprendizajes de todos los alumnos y alumnas de nuestras escuelas.</p>

          <p>
            Los materiales se ofrecerán disponibles en distintos formatos y soportes para ampliar la oferta de accesos de los docentes a instancias de formación respecto del uso de las TIC. Asimismo se integrarán en un blog dependiente del PAD en el sitio ABC con opción de una lectura hipertextual entre los distintos materiales con el objeto de que los docentes puedan ir produciendo según sus expectativas y necesidades, diferentes trayectos, accesos y atajos para reflexionar sobre sus prácticas.
          </p>
            
          <p>Algunos de los títulos que se incluyen en la etapa 1 de esta colección son:</p>

          <ul>
            <li>
              <strong>La integración de TIC en la enseñanza</strong>
              <p>Este material propone un acercamiento a las continuidades y rupturas que supone integrar la TIC en las prácticas docentes, proponiendo una mirada acerca del lugar pedagógico de las TIC para la enseñanza de las diferentes áreas curriculares, y presenta el PAD como estrategia de la política digital de la provincia en este sentido.</p>
            </li>
            <li>
              <strong>La gestión escolar con TIC en las escuelas primarias de la Provincia.</strong>
              <p>Este documento problematiza el lugar de las TIC en la gestión de las escuelas, y sus potencialidades como herramientas para la conducción y la organización institucional.</p>
            </li>
            <li>
              <strong>La gestión del aula con TIC.</strong>
              <p>El lugar de la planificación y las intervenciones del docente en la reconfiguración del tiempo y el espacio aúlico; la posibilidad de diversificar los contenidos y los niveles de aproximación al conocimiento; las prácticas del lenguaje que se pueden propiciar a partir de las TIC, entre otras alternativas que genera la incorporación de las netbook en el aula.</p>
            </li>
            <li>
              <strong>La reconfiguración de la enseñanza en diálogo con los procesos de lectura y escritura propiciadas por la TIC.</strong>
              <p>La posibilidad de propiciar otros diálogos, otros modos de construir los textos, los sentidos y la dimensión comunicacional del aula.</p>
            </li>
            <li>
              <strong>El PAD como programa provincial para la enseñanza con TIC:</strong>
              <p>Fundamentación, objetivos y desarrollo del PAD en el marco de la DTE-DPPE y DPEP. El Diseño Curricular provincial como marco para la construcción del PAD.</p>
            </li>
            <li>
              <strong>El PAD llega a las escuelas.</strong>
              <p>Presentación de equipamiento y las netbooks: para qué sirven, cómo se usan, qué posibilidades ofrecen para la enseñanza. Cómo resolver las mínimas cuestiones técnicas para su aprovechamiento.</p>
            </li>
            <li>
              <strong>El PAD en las aulas</strong>
              <p>El lugar de los asistentes digitales para la enseñanza de las áreas curriculares: criterios para su selección e incorporación en propuestas de enseñanza enmarcadas en el Diseño Curricular del Nivel. “Lo común” y “lo diferente”: los aspectos comunes y generales a la hora de diseñar situaciones de enseñanza con recursos digitales, y las especificidades de las áreas curriculares en dicho proceso.</p>
            </li>
          </ul>
          
          <p class="importante">
            <strong>IMPORTANTE:</strong> <i>Esta descripción engloba al primer alcance de una serie de documentos que se incluirán en esta sección. Hoy acercamos el primero de esta serie. En una segunda etapa, se ofrecerán desarrollos vinculados a las áreas curriculares y a la gestión institucional.</i>
          </p>

        </div>

      </div>
    </div>
  </div>
</div>