{{#contentFor 'pageScripts'}}
    <script src="/vendor/js/Chart.min.js"></script>
    <script src="/vendor/js/underscore/underscore-min.js"></script>
    <script src="/pad/js/stats.js"></script>
{{/contentFor}}


<div class="container stats">
  <div class="page-header">
    <h2>Estadísticas</h2>
  </div>

  <p><strong><span data-bind="text: total"></span> tangibles</strong></p>

  <div class="row">
    <div class="col-sm-6"><canvas id="_chart" height="200" width="200"></canvas></div>
    <div class="col-sm-6">
      <ul data-bind="foreach: targets">
        <li><bold data-bind="text: caption"></bold> <span class="label label-default" data-bind="text: $data.value, style: { 'background-color': $data.color }"></span></li>
      </ul>
    </div>
  </div>

  <hr>

  <!-- ko foreach: all().areas -->
  <article>
    <h4 data-bind="text: name"></h4>
    <ul data-bind="foreach: $data.axis">
        <li>
          <span data-bind="text: $data.name"></span>  <b data-bind="text: $data.length"></b>
          <ul data-bind="foreach: $data.blocks">
            <li>
              <span data-bind="text: $data.name"></span>  <b data-bind="text: $data.length"></b>
            </li>
          </ul>
        </li>
      </ul>
  </article>
  <!-- /ko -->

  <hr>

  <span class="users-online"></span>

</div>