<div class="container-fluid transversales">
  <div class="section-header">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
        <h1>Temas Transversales</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
      
        <div class="row">

            <div class="col-sm-4 col-md-3 col-lg-2">
              <div class="eje">
                
                <a href="/ejes/EOE">
                  <div class="img-wrap">
                    <img src="/pad/img/equipos_de_orientacion_escolar/padnet.png" alt="Equipos de Orientación Escolar">
                  </div>
                  
                  <div class="title-wrap">
                    Equipos de Orientación Escolar
                  </div>
                </a>

               </div>
            </div>

            <div class="col-sm-4 col-md-3 col-lg-2">
              <div class="eje">
                
                <a href="/ejes/CEC">
                  <div class="img-wrap">
                    <img src="/pad/img/centros_educativos_complementarios/padnet.png" alt="Centros Educativos Complementarios">
                  </div>
                  
                  <div class="title-wrap">
                    Centros Educativos Complementarios
                  </div>
                </a>

               </div>
            </div>

        </div>

    </div>
  </div>
</div>