<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <input type="text" class="form-control search-input" ng-model="searchText" placeholder="filtro">
    <hr>
    <section class="packages">
      <article ng-repeat="package in packages | filter:searchText">
        <div class="row">
          <div class="col-sm-3">
            <img class="img-responsive center" src="/package/?uid={{package.uid}}&asset=front" alt="{{package.title}}">
          </div>
          <div class="col-sm-9">
            <h4>{{package.content.title}} <small>{{package.uid}}</small></h4>
            <p>{{package.content.content}}</p>
            <a class="btn btn-default btn-sm" href="/tangible/{{package.uid}}?repo={{selectedRepo}}" target="_blank">
              <i class="fa fa-eye"></i> Preview
            </a>
          </div>
        </div>
        <hr>
      </article>
    </section>
  </div>
</div>