<div class="container">
  <div class="page-header">
    <h1>Agregando un nuevo repositorio de paquetes</h1>  
  </div>
</div>
<div class="well well-sm text-center" ng-show="isFinding">
  <span><i class="fa fa-cog fa-spin"></i> {{loadingMessage}}</span>
</div>
<div class="row" ng-show="!isFinding">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-cubes"></i></div>
        <input ng-model="epmUri" class="form-control" type="text" placeholder="URL del repositorio de paquetes">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="find(epmUri)"><i class="fa fa-cloud-download"></i></button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-show="isScanning && !isFinding">
  <div class="col-sm-6 col-sm-offset-3">
    <h3>Acercá el QR a la webcam</h3>
    <div class="center" id="reader" style="width:300px;height:250px;"></div>
  </div>
</div>

<div ng-show="hasFinded">
  <hr>
  <ul class="packages-finded">
    <li class="text-center" ng-repeat="package in packages">
      <img class="img-responsive" src="{{package.img}}" alt="{{package.title}}" style="max-width: 200px; max-height: 200px; margin: 0 auto">
      <h4>{{package.title}}</h4>
    </li>
  </ul>
</div>