<audio preload="auto" id="bubble_click" src="/assets/sound/bubble_click.mp3"></audio>
<audio preload="auto" id="bubble_hover" src="/assets/sound/bubble_hover.mp3"></audio>

<ul class="roulette">
  <li class="bg-ing">
    <a ui-sref="design({area: 'Inglés'})">
      <div data-area="ing" class="item-area"></div>
    </a>
  </li>
  <li class="bg-ef">
    <a ui-sref="design({area: 'Educación Física'})">
      <div data-area="ef" class="item-area"></div>
    </a>
  </li>
  <li class="bg-cs">
    <a ui-sref="design({area: 'Ciencias Sociales'})">
      <div data-area="cs" class="item-area"></div>
    </a>
  </li>
  <li class="bg-mat">
    <a ui-sref="design({area: 'Matemática'})">
      <div data-area="mat" class="item-area"></div>
    </a>
  </li>
  <li class="bg-edart">
    <a ui-sref="design({area: 'Educación Artística'})">
      <div data-area="edar" class="item-area"></div>
    </a>
  </li>
  <li class="bg-pdl">
    <a ui-sref="design({area: 'Prácticas del Lenguaje'})">
      <div data-area="pdl" class="item-area"></div>
    </a>
  </li>
  <li class="bg-cn">
    <a ui-sref="design({area: 'Ciencias Naturales'})">
      <div data-area="cn" class="item-area"></div>
    </a>
  </li>
</ul>
<div class="center-roulette"></div>
<div class="border-roulette"></div>
<div class="center-roulette-area"></div>