<div id="aside-menu">
  <ul>
    <li data-target="bienvenida">
      <a href="#" data-toggle="tooltip" data-placement="top" title="Bienvenida"><div class="expand"></div></a>
    </li>
    <li data-target="cloud">
      <a href="/cloud" data-toggle="tooltip" data-placement="right" title="Nube"><div class="expand"></div></a>
    </li>
    <li data-target="orientaciones">
      <a href="#" data-toggle="tooltip" data-placement="right" title="Orientaciones"><div class="expand"></div></a>
    </li>
    <li data-target="transversales">
      <a href="#" data-toggle="tooltip" data-placement="right" title="Transversales"><div class="expand"></div></a>
    </li>
    <li data-target="contacto">
      <a href="#" data-toggle="tooltip" data-placement="bottom" title="Contacto"><div class="expand"></div></a>
    </li>
  </ul>
  <div class="center-aside-menu"></div>
</div>