<div id="aside-menu">
  <ul>
    <li data-target="bienvenida">
      <a href="/bienvenido/Presentaci贸n" data-toggle="tooltip" data-placement="top" title="Bienvenida"><div class="expand"></div></a>
    </li>
    <li data-target="cloud">
      <a href="/tangibles/?area=PAD en acci贸n&axis=PAD en acci贸n" data-toggle="tooltip" data-placement="right" title="PAD en acci贸n"><div class="expand"></div></a>
    </li>
    <li data-target="orientaciones">
      <a href="/orientacion" data-toggle="tooltip" data-placement="right" title="Orientaciones"><div class="expand"></div></a>
    </li>
    <li data-target="transversales">
      <a href="/transversales" data-toggle="tooltip" data-placement="right" title="Transversales"><div class="expand"></div></a>
    </li>
    <li data-target="contacto">
      <a href="http://servicios2.abc.gov.ar/lainstitucion/organismos/direccion_de_tecnologia_educativa/pad/contacto.html"  target="_blank"
         data-toggle="tooltip" data-placement="bottom" title="Contacto"><div class="expand"></div></a>
    </li>
  </ul>
  <div class="center-aside-menu"></div>
</div>